.collection-box{
    border-right: none;
    width: 250px;
    flex-shrink:0;
}

.collection-list{
    align-items: flex-start;
}

.collection-card{
    padding: 8px;
    display: flex;
}

.collection-button{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
}

.collection-image{
    width: 35px;
    height: auto;
    object-fit: contain;
}

@media (max-width: 750px){
    .collection-box{
        display: none;
    }
}

@media (max-width: 1050px){
    .collection-box{
        flex-shrink: 1;
    }
}