.comments-cont{
    display: flex;
    flex-direction: column;
    padding: 15px 10px 10px;
}
.comments-title{
    padding: 0px 10px;
}

.commentcard-cont{
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 10px 5px;
}
