.reading-ann-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reading-ann-cont {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.reading-ann-text {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 10px;
}

.ann-check{
  width: 100%;
  height: 100%;
}