.collection-box{
    border-right: none;
    width: var(--leftwidth);
    flex-shrink:0;
}

.collection-list{
    align-items: flex-start;
}

.collection-card{
    padding: 10px;
    display: flex;
}

.collection-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.collection-image{
    width: 35px;
    height: auto;
    object-fit: contain;
}

.collection-create{
    display: flex;
    align-items: center;
    padding: 10px;
}

.collection-plus{
    width: 25px;
}

@media (max-width: 800px){
    .collection-box{
        display: none;
    }
}

@media (max-width: 1050px){
    .collection-box{
        flex-shrink: 1;
    }
}