.comments-cont {
  display: flex;
  flex-direction: column;
  padding: 15px 10px 10px;
}

.comments-title {
  padding: 0px 10px;
}

.commentcard-cont {
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px 10px 5px;
  border-radius: 10px;
}

.commentcard-cont:hover{
  border-color: var(--blueglow);
  box-shadow: 0 0 3px var(--blueglow);
}

.addcomment-buttons-cont {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.addcomment-button {
  margin: 0px 5px;
}
