.home-container {
    max-width: 1290px;
    padding: var(--m) 0px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.home-middle{
    width: 660px;
    height: 200px;
    flex-shrink: 0;
}

@media (max-width:660px){
    .home-container{
        justify-content: start;
    }
}