.reading-sidebar {
  width: var(--rightwidth);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: none;
}

.reading-system-ann {
  display: grid;
  height: 170px;
  grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  place-items: center start;
}

.reading-annbox-cont {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 15px;
  padding-bottom: 5px;
}
